*.iml
.gradle
/local.properties

/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/runConfigurations.xml
.idea/gradle.xml
/.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/gradle.properties

.DS_Store
/build
/captures
*.log
proguard/
**/out
**/build
eellySeller/eellySeller.iml___jb_bak___
eellySeller/src/main/java/com/eelly/seller/business/playback/
/projectFilesBackup
/gradle
/eellyreactnative
/thirdProjects/android_volley2/.idea
/gradle/wrapper/gradle-wrapper.properties


